@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
           
    /* Background Color */
    --bg-white:#fff;
    /* --bg-dark-color:#03262c */

    /* Text Colors */
    --primary-text: #061738;
    --secondary-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /* Font Family */
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}
body,html{
    color: var(--primary-text);
    font-weight: 400;
    font-size: 10px;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}
.about h1,.product h1,.gallery h1,.contact h1, .error h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}
h2{
    color: var(--primary-text);
    font-size:4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.about h2,.product h2,.gallery h2,.contact h2, .error h2{
    color: var(--primary-text);
    font-size:4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 2rem;
}
h3{
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}
.product h4,
h4{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}
h5{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-text);
}
.about p,.product p,.gallery p,.contact p,
p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
.product p{
    margin-bottom: 1.5rem;
}
embed,iframe,img,object{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact a,
a,a:active,a:focus,a:hover,button{
    text-decoration: none;
    outline: none;
}
li a{
    color: var(--text-white);
}
a:hover,
button:hover{
    transition: all 0.3s ease-in;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: var(--bg-white);
}
::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
    border-radius: 2px;
}
.product .main-btn,.contact .main-btn,.error .main-btn,
.main-btn{
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404,#5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.1rem;
}
.main-btn:hover{
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}
section{
    padding: 5rem 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.section-subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}
            .index .banner-section{
                background: url('../images/banner-slide/Banner-1.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                padding-top: 17rem;
                padding-bottom: 10rem;
                min-height: auto;
            }
            .error .banner-section,
            .product .banner-section,
            .gallery .banner-section,
            .contact .banner-section,
            .distributors .banner-section,
            .about .banner-section {
                background: url('../images/banner-slide/top-banner.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                padding-top: 17rem;
                padding-bottom: 10rem;
                min-height: auto;
            }

    /* 01 Navigation Section  */

.header{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}
.header .navbar{
    background: url("../images/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem 5rem;
}
.header .navbar-brand{
    width: 7.5rem;
    margin-top: -0.1rem;
}
.header .navbar .nav-link{
    color: var(--text-white);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}
.header .navbar .nav-link:hover,
.header .navbar .nav-link.active{
    color: var(--secondary-color);
}
.header .navbar-toggler{
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}
.header navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.header .header-right span{
    color: var(--secondary-color);
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 1rem;
}
.header .header-right .phone-no{
    color: var(--text-white);
    font-size: 1.6rem;
}
.header .header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}
    /* 01 Navigation Section  */
    /* 01 Banner Section  */
    .banner-section{
        background: url("./images/banner-slide/Banner-1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 90vh;
    }
    .banner-section .carousel-item{
        padding: 3rem 0;
        height: 90vh;
    }
    .banner-section .carousel-item h1{
            font-size: 9rem;
            line-height: 1.4;
            font-weight: 600;
            color: var(--primary-text);
        
    }
    .banner-section .carousel-item h3{
        color: var(--text-white);
        font-size: 3.1rem;
        line-height: 1.2;
        font-weight: 700; 
        padding: 0.5rem 1.5rem;
        color: var(--text-white);
        background-color: var(--dark-color);
        display: inline;
    }
    .banner-section .carousel-item p{
        max-width: 40rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 1.6;
        margin-top: 1rem;
        color: var(--dark-color);
        font-family: var(--secondary-font);
    }
    .banner-section .carousel-item .main-btn{
        position: relative;
        color: var(--bg-white);
        background: linear-gradient(to right, #0f7404,#5cb917);
        z-index: 1;
        overflow: hidden;
        border: 0.2rem solid var(--bg-white);
        border-radius: 3.5rem;
        text-transform: uppercase;
        padding: 1rem 3.5rem;
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .banner-section .carousel-item .main-btn:hover{
        background: var(--bg-white);
        color: var(--secondary-color);
        border: 0.2rem solid var(--secondary-color);
    }
    .banner-section .carousel-caption{
        top: 30%;
        bottom: 0;
        left: 3%;
        right: 0;
        text-align: left;
        width: 100%;
    }
    /* 01 Banner Section Exit  */

    /* 01 Feature Section  */
    .feature-section .features-box{
        background-color: transparent;
        border: 0.15rem solid var(--light-color);
        padding: 8rem 0;
        transition: all 0.4s;
    }
    .feature-section .features-box:hover{
        background-color: var(--dark-color);
        border-color: var(--dark-color);
    }
    .feature-section h3{
            color: var(--text-white);
            font-size: 3.1rem;
            line-height: 1.2;
            font-weight: 700;
            color: var(--primary-text);
            margin-top: 1.5rem;
    }
    .feature-section .features-box:hover h3{
        color: var(--text-white);
    }
    .feature-section .features-icon-border{
        background-color: transparent;
        border-radius: 50%;
        border: 0.2rem solid var(--light-color);
        padding: 1.3rem;
        display: inline-block;
    }
    .feature-section .features-box:hover .features-icon-border{
        border-color: var(--secondary-color);
    }
    .feature-section .features-box .feature-icon{
        height: 6.5rem;
        width: 6.5rem;
        background-color: var(--light-color);
        margin: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feature-section .features-box .feature-icon img{
        width: 3.7rem;
    }

    /* 01 Feature Section Exit  */

    /* 01 Landing About Section  */
    .landing-about-section{
        background: url("../images/about/about-banner.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10rem 0;
    }
    .landing-about-section p{
        color: var(--primary-text);
        margin-bottom: 2rem;
    }
     .landing-about-section h2{
        color: var(--primary-text);
        font-size:4.7rem;
        font-weight: 600;
        display: inline-block;
        text-transform: capitalize;
        line-height: 1.2;
        margin-bottom: 2rem;
     }
    .landing-about-section .main-btn{
        position: relative;
        color: var(--bg-white);
        background: linear-gradient(to right, #0f7404,#5cb917);
        z-index: 1;
        overflow: hidden;
        border: 0.2rem solid var(--bg-white);
        border-radius: 3.5rem;
        text-transform: uppercase;
        padding: 1rem 3.5rem;
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .landing-about-section .main-btn:hover{
        background: var(--bg-white);
        color: var(--secondary-color);
        border: 0.2rem solid var(--secondary-color);
    }

    /* 01 Landing About Section Exit */

    /* 01 landing-product-section  */
    .landing-product-section .product-card{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border: 0.2rem solid var(--light-color);
        padding: 2rem 1rem;
        transition: all 0.3s;
    }
    .landing-product-section .product-card .product-img{
        margin-bottom: 7rem;
        text-align: center;
    } 
.landing-product-section h3{
    color: var(--primary-text);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}
.landing-product-section span{
    color: var(--primary-text);
    font-size: 1.8rem;
    /* line-height: 1.2; */
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-right: 0.5rem;
    text-decoration: line-through;
    transition: all 0.3s;
    font-weight: 700;
}
.landing-product-section .main-btn{
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404,#5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0rem;
}
.landing-product-section .main-btn:hover{
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}
.landing-product-section .product-card .product-detail{
    position: absolute;
    bottom: -22rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--dark-color);
    transition: all 0.5s;
}
.landing-product-section .product-card:hover .product-detail{
    bottom: 0;
}
    /* 01 landing-product-section Exit  */

    /* 01 testimonial-section Section  */
    .testimonial-section{
        background-color: var(--light-color);
        margin-bottom: 8rem;
    }
    .testimonial-section .carousel-indicators{
        bottom: -6rem;
    }
    .testimonial-section .carousel-indicators button{
        background-color: var(--dark-color);
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
    }
    .testimonial-section .card{
       background: url("../images//testimonial/testimonial-bg.png") center/cover no-repeat;
       /* background-position: center;
       background-repeat: no-repeat;
       background-size: cover; */
       text-align: right;
       padding: 5rem 5rem 5rem 0;
       border-radius: 0 .5rem .5rem 0;
       border: 0.1rem solid transparent;
    }
    .testimonial-section .profile-box{
        padding: 1.875rem;
        background-color: var(--dark-color);
        border-radius: .5rem 0 0 .5rem;
    }
    .testimonial-section .profile-box img{
        border-radius: .625rem 3.125rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .testimonial-section .dese-box{
        padding-left: 2.5rem;
    }
    .testimonial-section h4{
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        color: var(--primary-text);
    }
    .testimonial-section p{
        font-size: 1.6rem;
        line-height: 1.6;
        margin-top: 1rem;
        color: var(--primary-text);
        font-family: var(--secondary-font);
    }

    /* 01 testimonial-section Section  Exit */

    /* 01 Gallery Section */
    .gallery-section img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .gallery-section .main-btn{
        position: relative;
        color: var(--bg-white);
        background: linear-gradient(to right, #0f7404,#5cb917);
        z-index: 1;
        overflow: hidden;
        border: 0.2rem solid var(--bg-white);
        border-radius: 3.5rem;
        text-transform: uppercase;
        padding: 1rem 3.5rem;
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 1.5rem;
        letter-spacing: 0.2rem;
    }
    .gallery-section .main-btn:hover{
        background: var(--bg-white);
        color: var(--secondary-color);
        border: 0.2rem solid var(--secondary-color);
    }
    /* 01 Gallery Section Exit */

    /* 01 Footer Section */
    .footer-wrapper{
        background: url("../images/footer-bg/footer_bg.png") top center/cover no-repeat;
        padding-top: 15rem;
        padding-bottom: 0rem;
    }
    .footer-wrapper a{
        text-decoration: none;
    }
    .footer-wrapper h5{
        font-size: 2.5rem;
        margin-bottom: 1.25rem;
        font-weight: 600;
        line-height: 1;
        color: var(--text-white);
    }
    .footer-wrapper ul li{
        margin-bottom: 0.5rem;
        list-style: none;
    }
    .footer-wrapper .main-btn{
        position: relative;
        color: var(--bg-white);
        background: linear-gradient(to right, #0f7404,#5cb917);
        z-index: 1;
        overflow: hidden;
        border: 0.2rem solid var(--bg-white);
        border-radius: 3.5rem;
        text-transform: uppercase;
        padding: 1rem 3.5rem;
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .footer-wrapper .main-btn:hover{
        background: var(--bg-white);
        color: var(--secondary-color);
        border: 0.2rem solid var(--secondary-color);
    }
    .footer-wrapper .company_details{
        font-size: 1.4rem;
    }
    .footer-wrapper .contact-info li a{
        color: var(--text-gray);
        font-size: 1.6rem;
    }
    .footer-wrapper .link-widget li a,
    .footer-wrapper p{
        color: var(--text-gray);
        font-size: 1.6rem;
        padding-left: 1.5rem;
        position: relative;
        transition: all 0.3s ease-out 0s;
        -webkit-transition: all 0.3s ease-out 0s;
    }
    .footer-wrapper .link-widget li a::before{
        content: '\f105';
        font-family: "Font Awesome 5 Free";
        /* font-family: "Quicksand"; */
        position: absolute;
        font-weight: 900;
        left: 0.3rem;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .footer-wrapper .link-widget li a:hover{
        margin-left: .25rem;
        color: var(--secondary-color);
    }
    .footer-wrapper .social-network a{
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.2rem;
        margin: .5rem;
        display: inline-block;
        border: .125rem solid var(--text-gray);
        color: var(--text-gray);
        text-align: center;
        font-size: 1.2rem;
        border-radius: 100%;
        transition:  all 0.3s cubic-bezier(0.645,0.045,0.355.1);
        -webkit-transition:  all 0.3s cubic-bezier(0.645,0.045,0.355.1);
    }
    .footer-wrapper .social-network a:hover{
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: var(--text-white);
        box-shadow: 0 0.625rem .9375rem 0 rgba(0 0 0 / 10%);
        transform: translateY(-0.1875rem);
    }
    .footer-wrapper .form-control{
        font-size: 2rem;
        color: var(--text-white);
    }
    .footer-wrapper .form-control:focus{
        outline: none;
        box-shadow: none;
        border-color: var(--secondary-color);
    }
    .footer-wrapper .copyright-section{
        background-color: var(--secondary-color);
        text-align: center;
        margin-top: 5rem;
    }
    .footer-wrapper .copyright-section p{
        margin-top: 0;
        margin-bottom: 0;
        padding: 3rem;
        line-height: 0;
    }
    .footer-wrapper .copyright-section a{
        color: var(--primary-text);
        font-weight: 600;
    }

    /* 01 Footer Section Exit */


     /* Contac Page  */
     .contact .contact-form{
        background-color: var(--light-color);
        padding: 5rem;
        box-shadow: 0 0.2rem 1.5rem rgba(0 0 0 / 4%);
     }
     .contact .contact-form .form-control:focus{
        outline: none;
        box-shadow: none;
     }
     .contact .contact-form .form-control::placeholder{
        color: var(--primary-text);
     }
     .contact .contact-form .form-control{
        padding: 1rem 1.5rem;
        border-radius: 0rem;
        border: 0.1rem  solid var(--secondary-color);
        color: var(--primary-text);
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--secondary-font);
     }
     .contact .contact-form textarea{
        min-height: 15rem;
        resize: none;
     }
     .contact .contact-form .info-box li{
        position: relative;
        padding-left: 7rem;
        padding-bottom: 3.5rem;
        margin-bottom: 2.9rem;
        list-style: none;
     }
     .contact .contact-form .info-box li i{
        position: absolute;
        left: 0;
        top: 1.5rem;
        font-size: 4.5rem;
        line-height: 4.5rem;
        color: var(--primary-text);
     }
     .contact .contact-form .info-box li p{
        color: var(--primary-text);
     }
     .contact .contact-form .info-box li a{
        color: var(--dark-color);
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 0;
        font-family: var(--secondary-font);
     }